@import "material-color";

.widget-stats {
  .forums-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 8px;

    .fa {
      color: @clr-grey-300;
    }

    .posts {
      flex: 0 1 auto;
      color: @clr-grey-500;
    }

    .topics {
      flex: 0 1 auto;
      color: @clr-grey-500;
    }

    .users {
      flex: 0 1 auto;
      color: @clr-grey-500;
    }
  }

  .list-title {
    margin: 8px 0;
    color: @clr-grey-600;
  }

  .user-item {
    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}